<div class="card border-primary mb-3 my-4">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <div class="my-2 text-left">
      <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clients/form']">New Client</button>
    </div>
    <h5 class="card-title my-4">Clients list</h5>
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td class="align-middle">{{ client.id }}</td>
          <td class="align-middle">{{ client.name }}</td>
          <td class="align-middle">{{ client.surname }}</td>
          <td class="align-middle">{{ client.email }}</td>
          <td class="align-middle">{{ client.creationDate }}</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm mx-2" name="edit" [routerLink]="['/clients/form', client.id]">Edit</button>
            <button type="button" class="btn btn-danger btn-sm" name="delete" (click)="delete(client)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>